@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}

.header {
  position: relative;
  overflow: hidden;
}

.nav {
  position: fixed;
  background-color: #fff;
  border: 1px solid #dde4e9;
  height: 100px;
  width: 100%;
  z-index: 20;
}

.ul {
  position: relative;
}

.a,
.li {
  text-decoration: none;
  list-style: none;
  color: #4c4d5f;
  position: absolute;
}

.a-img {
  top: 0px;
  left: 270px;
}

.a-bansai {
  color: #00b289;
  font-size: 2em;
  top: 0px;
  left: 305px;
  font-family: "Roboto", sans-serif;
}
.li-product {
  top: 10px;
  left: 620px;
}

.li-templates {
  top: 10px;
  left: 730px;
}

.li-pricing {
  top: 10px;
  left: 840px;
}

.li-reviews {
  top: 10px;
  left: 930px;
}

.a-log {
  color: #00b289;
  background-color: transparent;
  border: 2px solid #00b289;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  width: 95px;
  font-family: "Roboto", sans-serif;
}

.a-sin {
  color: #fff;
  background-color: #00b289;
  border: 2px solid #00b289;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  width: 132px;
  font-family: "Roboto", sans-serif;
}

.li-log {
  top: 6px;
  left: 1200px;
}

.li-sin {
  top: 6px;
  left: 1320px;
}
/*Fin barra de navegacion*/
.main {
  margin-top: 200px;
  position: relative;
  color: #4c4d5f;
}

.title {
  position: absolute;
  left: 400px;
}

.targets {
  position: absolute;
  width: 1100px;
  height: 600px;
  top: 100px;
  left: 400px;
}

.div-work,
.div-workp {
  width: 450px;
  height: 550px;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #dde4e9;
  box-shadow: 1px 1px 8px;
}

.div-work {
  top: 20px;
  left: 10px;
}

.div-workp {
  top: 20px;
  right: 80px;
}

.div-title,
.div-price,
.hr,
.list-workflow {
  position: absolute;
}

.div-title1 {
  top: 50px;
  left: 70px;
  font-size: 1.5em;
}

.div-title2 {
  top: 50px;
  right: 230px;
  font-size: 1.5em;
}

.div-price1 {
  top: 80px;
  left: 70px;
  font-size: 2em;
}

.div-price2 {
  top: 80px;
  right: 165px;
  font-size: 2em;
}

.div-price-n {
  font-size: 1.5em;
  font-weight: bold;
}

.hr {
  top: 200px;
  left: 80px;
  width: 300px;
  height: 1px;
  background-color: #00b289;
}

.list-workflow {
  top: 220px;
  left: 40px;
}

.li-work {
  padding-left: 20px;
  list-style: none;
  line-height: 1.5;
  background-image: url(/project5/assets/images/check.svg);
  background-position: top 0px left -6px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.a-buttom {
  bottom: 50px;
  left: 150px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #00b289;
  border: 2px solid #00b289;
  border-radius: 5px;
  padding: 10px 20px;
}

.charg-work,
.paragraph {
  position: absolute;
}

.charg-work {
  width: 1100px;
  height: 800px;
  top: 800px;
  left: 400px;
}

.paragraph {
  top: 100px;
  left: 300px;
  font-size: 2em;
}

.collaborators,
.partners,
.bonsai {
  position: absolute;
  background-color: #fff;
  border: 1px solid #dde4e9;
  box-shadow: 1px 1px 8px;
}
.collaborators,
.partners {
  width: 900px;
  height: 130px;
}

.bonsai {
  width: 900px;
  height: 140px;
}

.collaborators {
  top: 220px;
  left: 100px;
}

.partners {
  top: 420px;
  left: 100px;
}

.bonsai {
  bottom: 30px;
  left: 100px;
}

.h1-coll,
.h1-part,
.h1-bonsai {
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
}

.coll-par,
.part-par,
.bons-par {
  margin-left: 30px;
}

.span-coll {
  position: absolute;
  top: 70px;
  right: 30px;
  font-size: 2em;
}

.price-part,
.price-bonsai {
  position: absolute;
}

.price-part {
  top: 50px;
  right: 20px;
}

.price-bonsai {
  top: 45px;
  right: 20px;
}

.price {
  font-size: 2em;
}

.a-bonsai {
  color: #00b289;
  font-size: 0.8em;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: none;
}

.bussines {
  position: absolute;
  width: 920px;
  height: 300px;
  top: 1700px;
  left: 480px;
  background-color: #d8ecfb;
  border: 1px solid #d8ecfb;
  box-shadow: 1px 1px 5px #d8ecfb;
  border-radius: 3px;
}

.p-buss {
  position: absolute;
  font-size: 2.5em;
  top: 100px;
  left: 100px;
  color: #4c4d5f;
}

.span-buss {
  color: #00b289;
}

.a-buss {
  position: absolute;
  top: 160px;
  right: 30px;
  text-decoration: none;
  color: #fff;
  font-size: bold;
  background-color: #00b289;
  border: 1px solid #00b289;
  border-radius: 5px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
